<!-- Start Background Cover -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<!-- End Background Cover -->

<!-- Start Search Body -->
<div class="container">
    <div class="row">

        <!-- Start Left bar -->
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <a class="text-secondary">SCHOOL TYPE</a>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of schoolTypeOption">
                            <div class="form-check">
                                <input class="form-check-input" (change)="modelChanged()" (click)="selectedSchoolType=item.value" type="radio" name="schooltype" [checked]="selectedSchoolType===item.value">
                                <label class="form-check-label">
                                    {{item.text}}
                                </label>
                            </div>
                        </li>
                    </ul>

                    <hr> <a class="text-secondary">CHƯƠNG TRÌNH ĐÀO TẠO </a>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of programs">
                            <div class="form-check">
                                <input (change)="modelChanged()" (click)="selectedProgram=item.id" class="form-check-input" type="radio" name="program" [checked]="selectedProgram===item.id">
                                <label class="form-check-label">
                                    {{item.name}}
                                </label>
                            </div>
                        </li>
                    </ul>

                    <hr> <a class="text-secondary">LĨNH VỰC</a>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of specialtyOption">
                            <div class="form-check">
                                <input class="form-check-input" (change)="modelChanged()" (click)="selectedSpecialty=item.value" type="radio" name="specialty" [checked]="selectedSpecialty===item.value">
                                <label class="form-check-label">
                                    {{item.text}}
                                </label>
                            </div>
                        </li>
                    </ul>

                    <hr> <a class="text-secondary">VỊ TRÍ</a>

                    <div class="form-group">
                        <select (change)="modelChanged()" [(ngModel)]="selectedCity" class="form-control" id="exampleFormControlSelect1">
                                  <option value="null">Tất cả</option>
                                  <option *ngFor="let item of cities" [value]="item.id">{{item.name}}</option>
                                </select>
                    </div>

                    <hr> <a class="text-secondary">HỌC PHÍ TRUNG BÌNH (1 năm)</a>
                    <div class="input-group mb-3">
                        <input (change)="modelChanged()" type="number" class="form-control mr-3" [(ngModel)]="tution" min="0" max="20000000">
                        <div class="input-group-append">
                            <span class="input-group-text">VND</span>
                        </div>
                    </div>
                    <input type="range" class="form-control" [(ngModel)]="tution" min="0" max="200000000">

                    <hr> <a class="text-secondary">ĐIỂM TRÚNG TUYỂN</a>
                    <div class="input-group mb-3">
                        <input (change)="modelChanged()" type="number" class="form-control mr-3" [(ngModel)]="minScore" min="0" max="29">
                        <p>_</p>
                        <input type="number" class="form-control ml-3" [(ngModel)]="maxScore" min="1" max="30">
                    </div>

                    <hr> <a class="text-secondary">TAGS</a>
                    <ul class="nav">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-dark btn-sm m-2">Dark</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-dark btn-sm m-2">Dark</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-dark btn-sm m-2">Dark</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-dark btn-sm m-2">Dark</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Left bar -->

        <!-- Start Display schools -->
        <div class="col-9">
            <div class="row ml-1 mr-1">
                <!-- Start Header query options -->
                <ul class="nav nav-tabs mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: '0'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Best School</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: '1'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Best Techer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: '2'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Best WorkPlace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: '3'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Best Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: '4'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Best Largest</a>
                    </li>
                </ul>
                <!-- End Header query options -->
                <div class="form-inline my-lg-2">
                    <a *ngIf="schools" class="text-right text-sm text-muted">Top:                         
                        <select class="form-control">
                            <option>20</option>
                        </select>
                    </a>
                </div>

            </div>

            <!-- Start List Schools -->
            <div>
                <div class="card mb-lg-3" *ngFor="let school of schools">
                    <div class="card-body">
                        <p type="text" class="btn-link text-success">#1 Những trường đại học tốt nhất</p>
                        <h6 class="card-text">
                            <a [routerLink]="[]" (click)="directSchoolProfie(school.id)" class="text-dark">{{school.name}} </a>({{school.code}})
                        </h6>
                        <p class="card-subtitle text-secondary mb-2">
                            <a [href]="'https://www.google.com/maps/place/'+ school.location.address" class="text-link text-secondary">{{school.location.address}}</a> -
                            <a href="#" class="text-link text-warning">{{school.ratingCount}} Đánh giá</a>
                        </p>
                        <p class="card-text">{{school.description}}</p>
                        <a [routerLink]="[]" (click)="directSchoolProfie(school.id)" class="float-right badge badge-info">Xem thêm</a>
                    </div>
                </div>
            </div>
            <!-- End List Schools -->

            <!-- Start Paging -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <!-- End Paging -->

        </div>
        <!-- End Display schools -->
    </div>
</div>
<!-- End Search Body -->