<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="container">
    <div class="card mb-lg-3">
        <div class="card-body">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Best Private Schools</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5 href="#" class="text-success ml-lg-5">Rank 1</h5>
                </div>
                <div class="col-6">
                    <h5 href="#" class="text-success ml-lg-5">Rank 2</h5>
                </div>
                <div class="col-6">
                    <h5 href="#" class="text-success ml-lg-5">Rank 3</h5>
                </div>
                <div class="col-6">
                    <h5 href="#" class="text-success ml-lg-5">Rank 4</h5>
                </div>
            </div>
            <hr>
            <a href="#" class="card-link text-info">See more</a>
        </div>
    </div>

    <div class="card mb-lg-3">
        <div class="card-body">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Best Public Schools</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
            <a href="#" class="card-link text-info">See more</a>
        </div>
    </div>

    <div class="card mb-lg-3">
        <div class="card-body">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Best Public Schools</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
            <a href="#" class="card-link text-info">See more</a>
        </div>
    </div>

    <div class="card mb-lg-3">
        <div class="card-body">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Best Schools by City</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
            <a href="#" class="card-link text-info">See more</a>
        </div>
    </div>
</div>