#sidebar-wrapper {
  min-height: 95vh;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}

.list-group-flush {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: solid rgba(0,0,0,.125) !important;
  border-width: 1px 0 !important;
  width: 100%;
  color: #495057;
  text-align: inherit;
}