<div class="card">
    <div class="card-body">
        <div class="form-group">
            <ngb-rating max="5"></ngb-rating>
            <div class="input-group">
                <div class="input-group-prepend mr-5">
                    <span class="input-group-text">Bình luận</span>
                </div>
                <textarea class="form-control mr-3" aria-label="With textarea"></textarea>
                <button class="btn btn btn-outline-success">Gửi</button>
            </div>
        </div>
    </div>
</div>