<nav class="navbar navbar-expand-lg navbar-light bg-success ">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav bg-light mr-auto">
                <!-- <li class="nav-item active">
                    <input class="form-control" placeholder="Search" aria-label="Search">
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-light btn-sm" type="submit">Log In</button>
                <button class="btn btn-success active btn-sm" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</nav>
<ul class="nav sticky-top container nav-pills">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['schools/search']" [routerLinkActive]="['active']">School Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['ranks']" [routerLinkActive]="['active']">School Rankings</a>
    </li>
</ul>