<!-- Start Cover -->
<div *ngIf="schoolModel" class="card container mb-lg-5">
    <div class="row">
        <img src="http://covermyfb.com/media/covers/fBGeYvzQ4H5Yu1JI.jpg" height="100%" width="100%">
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col text-left">
                <h5 class="card-title">
                    <b>{{schoolModel.name}} </b>({{schoolModel.code}})
                </h5>
                <p type="text" class="btn-link text-success">#1 Những trường đại học tốt nhất</p>
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>
            </div>
            <div class="col text-right">
                <a *ngIf="schoolModel.website" [href]="schoolModel.website" type="button" class="btn btn-success bg-light">Go to</a>
            </div>
        </div>
    </div>
</div>
<!-- End Cover -->

<!-- Start Body -->
<div *ngIf="schoolModel" class="container">
    <div class="row">

        <div class="col-3">
            <div class="list-group-item">
                <h6>Đánh giá</h6>
            </div>

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cơ sở vật chất
                    <span class="badge bg-gold badge-pill">3.5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Chương trình đào tạo
                    <span class="badge bg-gold badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Chất lượng giảng dạy
                    <span class="badge bg-gold badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Phát triển nghề nghiệp
                    <span class="badge bg-gold badge-pill">1</span>
                </li>
            </ul>
        </div>

        <div class="col-9">
            <div class="card mb-5">
                <div class="card-header">
                    Giới thiệu
                </div>
                <div class="card-body">
                    <p class="card-text">{{schoolModel.description}}</p>
                </div>
            </div>
            <div *ngIf="schoolModel.programs" class="card mb-5">
                <div class="card-header">
                    Chương trình đào tạo
                    <span class="badge badge-info badge-pill">{{schoolModel.programs.length}}</span>
                </div>
                <div class="card-body" *ngFor="let program of schoolModel.programs">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {{program.name}}
                                      </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{program.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="schoolModel.majors" class="card mb-5">
                <div class="card-header">
                    Chuyên ngành đào tạo
                    <span class="badge badge-info badge-pill">{{schoolModel.majors.length}}</span>
                </div>
                <div class="card-body">
                    <div class="card" *ngFor="let major of schoolModel.majors">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {{major.name}}
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{major.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    Điểm trúng tuyển
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header">
                    Thông tin tuyển sinh
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Body -->

<!-- Rating -->
<div *ngIf="schoolModel" class="container">
    <div class="card">
        <div class="card-header">
            <div class="row ml-1 mr-1">
                <!-- Start Header query options -->
                <ul class="nav nav-tabs mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: 'popular'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Trường học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: 'popular1'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Giáo viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: 'popular2'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Môi trường</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" [queryParams]="{ filter: 'popular3'}" queryParamsHandling="merge" [routerLinkActive]="['active']">Chất lượng đào tạo</a>
                    </li>
                </ul>
                <!-- End Header query options -->
                <div class="form-inline my-2 my-lg-0">
                    <a class="text-right">Đánh giá</a>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="list-group" *ngIf="schoolModel.ratings">
                <a class="list-group-item" *ngFor="let rating of schoolModel.ratings">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Văn Nhật</h6>
                        <ngb-rating value="3" max="5"></ngb-rating>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">{{rating.comment}}</p>
                </a>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <ngb-rating max="5"></ngb-rating>
                        <div class="input-group">
                            <div class="input-group-prepend mr-5">
                                <span class="input-group-text">Bình luận</span>
                            </div>
                            <textarea class="form-control mr-3" aria-label="With textarea"></textarea>
                            <button class="btn btn btn-outline-success">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>