<div class="jumbotron jumbotron-fluid">
    <div class="container input-group mb-3 offset-md-4">
        <input type="text" style="width: 50%" class="" placeholder="Tên trường học" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="button" class="btn btn-info disabled">Search</button>
        </div>
    </div>
</div>

<!--  -->
<div class="container">
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Bảng xếp hạng</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Tra cứu trường học</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Tra cứu khóa học</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Thông tin giáo dục</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<!--  -->
<div class="card container mt-5 mb-2 bg-success">
    <h5 class="card-header">Bài viết mới nhất</h5>
</div>
<!--  -->
<div class="container">
    <div class="card mb-2">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card mb-2">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-info btn-sm">See more ...</button>
    </div>
</div>

<!--  -->
<div class="card container mt-5 mb-2 bg-info">
    <h5 class="card-header">Bảng xếp hạng</h5>
</div>
<!--  -->
<div class="container">
    <div class="row">
        <div class="col-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="http://cdn.24.co.za/files/Cms/General/d/6847/c17d0c2399a54d39a9490b1b03769a99.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bảng xếp hạng những trường đại học tốt nhất Việt Nam</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="http://cdn.24.co.za/files/Cms/General/d/6847/c17d0c2399a54d39a9490b1b03769a99.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="http://cdn.24.co.za/files/Cms/General/d/6847/c17d0c2399a54d39a9490b1b03769a99.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="http://cdn.24.co.za/files/Cms/General/d/6847/c17d0c2399a54d39a9490b1b03769a99.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-info btn-sm">See more ...</button>
    </div>
</div>

<!--  -->
<div class="card container mt-5 mb-2 bg-warning">
    <h5 class="card-header">Những khóa học phổ biến nhất</h5>
</div>
<!--  -->
<div class="container">
    <div class="row">
        <div class="col-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="https://www.quanterion.com/wp-content/uploads/2014/11/training-icon.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Khóa học lập trình</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="https://www.quanterion.com/wp-content/uploads/2014/11/training-icon.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Khóa học lập trình</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="https://www.quanterion.com/wp-content/uploads/2014/11/training-icon.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Khóa học lập trình</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-info btn-sm">See more ...</button>
    </div>
</div>