<div class="sticky-top">
    <ul class="nav container nav-pills">
        <li class="nav-item">
            <a class="nav-link text-success" [routerLink]="['search']" [queryParams]="{ filter: '0'}" [routerLinkActive]="['active']">School Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" [routerLink]="['ranks']" [routerLinkActive]="['active']">School Rankings</a>
        </li>
    </ul>
</div>

<!-- Body -->
<router-outlet></router-outlet>
<!-- End Body -->