<h1 class="header-content" *ngIf="schoolId">Update school</h1>
<h1 class="header-content" *ngIf="!schoolId">Create school</h1>
<form [formGroup]="editForm" (submit)="onSubmit()">
  <div class="row">
    <div class="form-group col">
      <label>Name:</label>
      <input class="form-control" formControlName="name"
        [ngClass]="{ 'is-invalid': (submitted || f.name.dirty) && f.name.invalid }">
      <div *ngIf="(submitted || f.name.dirty) && f.name.invalid" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">School's name is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label>Code:</label>
      <input class="form-control" formControlName="code"
        [ngClass]="{ 'is-invalid': (submitted || f.code.dirty) && f.code.invalid }">
      <div *ngIf="(submitted || f.code.dirty) && f.code.invalid" class="invalid-feedback">
        <div *ngIf="f.code.errors.required">School's code is required</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>School Type:</label>
      <select class="form-control" formControlName="schoolType">
        <option *ngFor="let type of schoolTypes" [ngValue]="type.value">
          {{type.text}}
        </option>
      </select>
    </div>
    <div class="form-group col">
      <label for="tuiTion">Tuition:</label>
      <input class="form-control" formControlName="tuiTion" type="number">
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Website:</label>
      <input class="form-control" formControlName="website">
    </div>
    <div class="form-group col">
      <label>CoverUrl:</label>
      <input class="form-control" formControlName="coverUrl">
    </div>
  </div>
  <div formGroupName="location">
    <div class="row">
      <div class="form-group col">
        <label>Coutry:</label>
        <select class="form-control" formControlName="countryId"
          [ngClass]="{ 'is-invalid': submitted && fLocation.countryId.invalid }">
          <option *ngFor="let country of countries$ | async" [ngValue]="country.id">
            {{country.name}}
          </option>
        </select>
        <div *ngIf="submitted && fLocation.countryId.invalid" class="invalid-feedback">
          <div *ngIf="fLocation.countryId.errors.required">Country is required</div>
        </div>
      </div>
      <div class="form-group col">
        <label>Cities:</label>
        <select class="form-control" formControlName="cityId"
          [ngClass]="{ 'is-invalid': submitted && fLocation.cityId.invalid }">
          <option *ngFor="let city of cities$ | async" [value]="city.id">
            {{city.name}}
          </option>
        </select>
        <div *ngIf="submitted && fLocation.cityId.invalid" class="invalid-feedback">
          <div *ngIf="fLocation.cityId.errors.required">City is required</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>District:</label>
        <input class="form-control" formControlName="district">
      </div>
      <div class="form-group col">
        <label>Ward:</label>
        <input class="form-control" formControlName="ward">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Street:</label>
        <input class="form-control" formControlName="street">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Programs:</label>
      <ng-select formControlName="programs" [multiple]="true" [items]="programs$ | async" bindLabel="name">
      </ng-select>
    </div>
    <div class="form-group col">
      <label>Majors:</label>
      <ng-select formControlName="majors" [multiple]="true" [items]="majors$ | async" bindLabel="name">
      </ng-select>
    </div>
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" rows="5" formControlName="description"></textarea>
  </div>
  <div class="float-right">
    <button class="btn active" [disabled]="editForm.invalid || loading">Save</button>
  </div>
</form>