/* You can add global styles to this file, and also import other style files */

@import "../node_modules//bootstrap-material-design/dist/css/bootstrap-material-design.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.header-content {
  margin-top: 30px;
  margin-bottom: 50px;
}

select.form-control, input.form-control {
  height: 33px !important;
}