<a class="list-group-item mb-1" *ngFor="let rating of ratings">
    <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-2" *ngIf="rating.user">{{rating.user.firstName}}</h6>
        <ngb-rating class="rating" [(rate)]="rating.value" [readonly]="true" max="5"></ngb-rating>
        <small>{{rating.createdDate | timeAgo}}</small>
    </div>
    <p class="mb-1">{{rating.comment}}</p>
</a>

<a href="#" *ngIf="ratings && ratings.length > 0" class="float-right badge badge-info">Xem thêm</a>